
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(31, 0, 59);
}

/*Navigation*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 30px 10%;
    background-color: rgba(0,0,0, 0.9);
    z-index: 100;
    position: fixed;
    width: 80%;
}

.logo{
    cursor: pointer;
    text-align: center;
}

ul{
    display:flex;

}

li, a, button{
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
text-align: center;
}

.nav_links {
    list-style: none;
}

.nav_links li {
   display: inline-block;
   padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: pink
    /*add hover boxes with rounded edges*/
}

button{
padding: 9px 25px;
background-color: rgba(224, 66, 255,1);
border: none;
border-radius: 75px;
cursor: pointer;
transition: all 0.3s ease 0s;
white-space: nowrap;
text-align: center;
}


button:hover{
    background-color: rgba(224, 66, 255,0.8);
}


/*HEROLARGEIMAGE*/
.hero img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/hero\ gif.gif");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero h1{
    color: white;
    font-size: 383.3px;
    font-family: sans-serif;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, 45%);
}


/*ABOUR ME SECTION*/


.Content{
    display:flex;
    flex-direction: row-reverse;
    margin-top: 90px;
}

.Content p1{
    padding: 10px;
    text-align: center;
    width: 613px;
    height: 408px;
    font-family: sans-serif;
    font-size: 25px ;
    font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.5px;
    color: #F4EDFF;
}

.Content Rbutton{
    width: 339px;
    height: 36px;
    flex-shrink: 0;
    color: #F4EDFF;
    font-family: sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px; 
}

.content img{
    border-left: 20px;
}

/* . is a class selector # is an id selector */

/* My UX Skills SECTION */
.flexContainer {
    display: flex;
    width: 80%;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background-color: rgb(237, 230, 247);
    text-align: center;
}

.FlexArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
}

#headingS {
    color: rgb(0, 0, 0);
    font-size: 90px;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: left;
    font-family: sans-serif;
}

#ParaS {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: left;
    margin-bottom: 100;
    margin-top: 10px;
    font-family: sans-serif;

}

#ImgS {
    border-radius: 50px;
}



#ButtonS {
    border-radius: 30px;
    width: 150px;
    height: 75px;
    background-color: pink;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    border-color: pink;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    font-family: sans-serif;
    margin-bottom: 0;
    margin-top: 50px;


}


h4 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

p {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}


/* MY WORK SECTION */

.myWork{
    margin-top: 10px;
}

.workGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
}

.workGridArea {
    padding: 20px;
    margin: auto;
    border-radius: 30px;
}

img {
    border-radius: 30px;
}

h3 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

.ButtonW {
    border-radius: 30px;
    width: 100px;
    height: 50px;
    background-color: pink;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 100;
    font-size: auto;
    border-color: pink;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}

.myWorkAll{
display: flex;
flex-direction: column;
padding: 10px;
margin: 0px;
font-family: sans-serif;
}

.myWorkWords{
padding: 0px;
margin-right: 300px;
}

.headingW{
    font-size: 30px;
}

.headingW{
    font-size: 20px;
}


/*FOOTER*/

footer{
    padding: 5%;
    margin-top: 100px;
    background-color: rgb(247, 237, 255);
    width: 90%;
}

.footer_main{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;

}

.foot_links{
    margin-left: auto;
    list-style: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.foot_links li a:hover {
    color: pink
}


.footer a{
    color: rgb(25, 0, 58);
    font-size: 25px;
    padding: 50px;
    align-items: center;
}

.contact {
    list-style: none; 
    align-items: center;
    flex-direction: column;   
}

.contact a:hover {
    color: pink
}

.footer_logo {
    width: 20vh;
    height: 20vh;
}

.footer img {
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
}

.back_top{
    text-align: center;
    padding: 0 ;
    margin: 0;
}

.back_top :hover{
    color: pink
}

.copyright{
    padding: 0;
    margin: 0;
}




.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .preloader img {
    animation: spin 3s ease;
    width: 150px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(360deg);
    }
  
    100% {
      transform: rotate(720deg);
    }
  }


/* fix this */
@media only screen and (max-width:600) {
    .flexContainer {
        flex-direction: column;
        width: 100%;
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "headingS"
            "ParaS"
            "ButtonS"
            "ImgS"
        ;
    }

    .workGridArea {
        flex-direction: column;
        width: 100%;
        grid-template-rows: 300px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "Purrfect"
            "UNICEF"
            "pending1"
            "pending2"
        ;
    }
}